<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}"></meta>
    <meta name="author" content="{{ author }}"></meta>

    <meta property="og:title" content="{{ title }}"></meta>
    <meta property="og:description" content="{{ description }}"></meta>
    <meta property="og:type" content="website"></meta>
    <meta property="og:image" content="{{ url_for('static', path='/3823.jpg') }}"></meta>
    <meta property="og:image:alt" content="{{ description }}"></meta>
    <meta property="og:url" content="{{ sit_url }}"></meta>

    <meta name="twitter:card" content="summary"></meta>
    <meta name="twitter:creator" content="{{ author_twitter_id }}"></meta>

    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-centered">
                    <div class="column is-three-quarters-tablet is-half-desktop">
                        <h1 class="title">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-solid fa-toolbox"></i>
                                </span>
                                <span>{{ title }}</span>
                            </span>
                        </h1>
                        <h2 class="subtitle">{{ description }}</h2>

                        <figure class="image">
                            <img src="{{ url_for('static', path='/3823.jpg') }}" width="500">
                            <figcaption class="is-italic is-size-7">
                                <a class="has-text-grey" href="http://www.freepik.com">Designed by vectorpocket / Freepik</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs is-centered">
                <div class="container">
                    <ul>
                        <li class="is-active">
                            <a href="/">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa-solid fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/docs">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa-solid fa-database"></i>
                                    </span>
                                    <span>API</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/jlebunetel/toolbox-api/">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fa-brands fa-github"></i>
                                    </span>
                                    <span>GitHub</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
</body>

</html>
